ul.input-autocomplete {
  -webkit-transition: opacity 200ms; /* Safari and Chrome */
     -moz-transition: opacity 200ms; /* Firefox */
      -ms-transition: opacity 200ms; /* Internet Explorer */
       -o-transition: opacity 200ms; /* Opera */
          transition: opacity 200ms;

  // box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  background-color: white;
  z-index: 100;
  
  &.active {
    top: auto;
    opacity: 1;
  }

  &,
  &.empty {
    display: block;
    top: -10000px;
    opacity: 0;
  }

  li {
    cursor: pointer;
    line-height: 1.5em;
    padding: { left: 0.25em; right: 0.25em; }
    &.highlighted {
      background-color: #1788c3;
      color: white;
    }
    &.filtered {
      display: none;
    }
  }
}