/* Effort rating component */

.effort-rating {
  $easy-color: rgb(0, 153, 205);
  $medi-color: rgb(251, 150, 0);
  $hard-color: rgb(236, 65, 52);

  @mixin bubble-button($base-color: $button-color) {
    &:before {
      @include vertical-gradient(lighten($base-color, 20%), $base-color);
      outline: none;
      border: 1px solid darken($base-color, 20%);
      border-radius: $button-border-radius;
    }
    &:hover:before {
      @include vertical-gradient(lighten($base-color, 30%), $base-color);
    }
    &:active:before {
      @include vertical-gradient($base-color, lighten($base-color, 20%));
    }
    &:disabled:before {
      background: lighten($base-color, 20%);
      cursor: default;
      border-color: $base-color;
    }   
  }

  button {

    $available-space: 2.5em;
    $button-size: 2em;
    $button-margin: ($available-space - $button-size) / 2;

    width: 2em;
    height: 2em;
    margin: 0.25em 0.5em 0.25em 0;
    background: none !important;
    padding: 0;
    border: none;

    &.effort-bubble {
      @include bubble-button();
    }

    &.effort-bubble:before {
      
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      margin: auto;
    }

    &.effort-bubble.active:before {
      width: 1em;
      height: 1em;
    }
  }

  &.rating-1 button.active { @include bubble-button($easy-color); }
  &.rating-2 button.active { @include bubble-button($medi-color); }
  &.rating-3 button.active { @include bubble-button($hard-color); }

}