@import 'reset';
@import '960';

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  padding: { top: 0.75em; bottom: 0.25em };
}

a {
  color: rgb(0, 153, 205);
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:active { color: rgb(236, 65, 52); }
}

.container {
  @include row();
}

form {

  fieldset {
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0;
    }

    label {
      @include row-cell(4);
      line-height: 1.75em;
    }

    input:not([type]),
    input[type='text'],
    input[type='password'] {
      @include row-cell(4);
      box-sizing: border-box;
      border: 1px solid #434443;
      border-radius: 2px;
      padding: { left: 0.25em; right: 0.25em; }
    }
  }

  .action {
    input, button, a {
      @include row-cell(2);
      line-height: 1.5;
    }
    button {
      border-radius: 2px;
      border: 1px solid #a2a2a2;
      background: -webkit-linear-gradient(#f7f7f7, #dddddd); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#f7f7f7, #dddddd); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#f7f7f7, #dddddd); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#f7f7f7, #dddddd); /* Standard syntax */
      margin: { top: 0; bottom: 0; }
      padding: { top: 0; bottom: 0; }
    }
    a {
      text-align: center;
      padding: { top: 1px; bottom: 1px }
    }
  }
}

header#logged-in {
  padding-top: 1em;

  nav.left {
    @include row-cell(6);
    & > ul > li {
      float: left;
      &:first-child:before {
        content: '';
        margin: 0;
      }
      &:before {
        font-size: 0.7em;
        content: '>';
        margin: 0.3em 0.5em;
        display: block;
        float: left;
      }
    }
  }
  nav.right {
    @include row-cell(6);
    text-align: right;
  }

  #logout {
    margin-left: 0.5em;
  }
}

@import 'custom-binding/autocomplete';
@import 'custom-binding/effort-rating';
@import 'custom-binding/effort-note';
@import 'page/login';
@import 'page/card-list';
@import 'page/estimation-form';

body.grid {
  background: url('../image/960-60-10.png') top center repeat-y;
}