@import 'reset';
@import '960';

$brand-color: #1788c3;
$danger-color: rgb(236, 65, 52);
$button-border-radius: 4px;

@mixin vertical-gradient($start-color, $end-color) {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient($start-color, $end-color);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient($start-color, $end-color);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient($start-color, $end-color);
  /* Standard syntax */
  background: linear-gradient($start-color, $end-color);
}

@mixin transition($definition...) {
  -webkit-transition: $definition; /* Safari and Chrome */
     -moz-transition: $definition; /* Firefox */
      -ms-transition: $definition; /* Internet Explorer */
       -o-transition: $definition; /* Opera */
          transition: $definition;
}

body {
  margin-top: 75px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  padding: { top: 0.75em; bottom: 0.25em };
}

a {
  color: rgb(0, 153, 205);
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:active { color: $danger-color; }
}

.container {
  @include row();
}

form {

  input:not([type]),
  input[type='text'],
  input[type='password'] {
    box-sizing: border-box;
    border: 1px solid #434443;
    border-radius: $button-border-radius;
    padding: { left: 0.25em; right: 0.25em; }
  }

  button {
    @include vertical-gradient(#f7f7f7, #dddddd);
    cursor: pointer;
    border-radius: $button-border-radius;
    border: 1px solid black;
    margin: { top: 0; bottom: 0; }
    padding: { top: 0; bottom: 0; }
    line-height: 1.5;
    &:disabled {
      cursor: default;
      border-color: #a2a2a2;
    }
  }

  fieldset {
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0;
    }

    label {
      @include row-cell(4);
      line-height: 1.75em;
    }

    input:not([type]),
    input[type='text'],
    input[type='password'] {
      @include row-cell(4);
    }
  }

  .action {
    input, button, a {
      @include row-cell(2);
    }
    a {
      text-align: center;
      padding: { top: 1px; bottom: 1px }
    }
  }
}

header#logged-in {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: $brand-color;

  nav {
    margin: auto;

    a {
      text-decoration: none;
      color: white;
    }

    .user-name,
    .log-out,
    .jump-label {
      padding-top: 0.75em;
      text-align: right;
      font-size: 16px;
      color: white;
    }

    .logo {
      @include row-cell(2);
      line-height: 50px;
      font-family: aspire;
      font-size: 40px;
      background-color: $brand-color;
      text-align: left;
    }
    .jump-input {
      @include row-cell(3);
      @include row-push(2);
      margin-top: 0.25em;
    }
    .jump-button {
      @include row-cell(1);
      @include row-push(2);
      margin-top: 0.25em;
    }
    .user-name {
      @include row-cell(3);
      @include row-push(2);
    }
    .log-out {
      @include row-cell(1);
      @include row-push(2);
    }
  }

  #logout {
    margin-left: 0.5em;
  }
}

@import 'custom-binding/autocomplete';
@import 'custom-binding/effort-rating';
@import 'custom-binding/effort-note';
@import 'page/login';
@import 'page/card-list';
@import 'page/estimation-form';

body.grid {
  background: url('../image/960-60-10.png') top center repeat-y;
}