#card-list-page {

  header {
    h1 {
      text-align: center;
    }
  }

  #card-list-create-form {
    margin-bottom: 0.5em;

    #card-number,
    label[for="card-number"] {
      @include row-push(3);
      @include row-cell(3);
    }

    .action {
      button {
        @include row-push(3);
        @include row-cell(2);
      }
      a {
        @include row-push(3);
        @include row-cell(1);
      }
    }
  }

  #tip {
    @include transition(opacity 200ms);
    &.active {
      opacity: 1;
    }

    @include row-cell(3);
    @include row-push(3);
    opacity: 0;
    font-size: 16px;
    background-color: $brand-color;
    color: white;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 2px;

    .keyboard {
      @include vertical-gradient(#f7f7f7, #dddddd);
      color: black;
      border: 1px solid #a2a2a2;
      border-radius: 4px;
      cursor: default;
      font-family: courier;
      font-size: 0.75em;
      padding: 0.1em 0.5em 0.1em 0.5em;
      position: relative;
      bottom: 0.1em;
    }

    &:before {
      $arrow-size: 1em;

      font-size: 16px;
      content: '';
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      border: $arrow-size / 2 solid $brand-color;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      margin-top: -0.5em - $arrow-size;
    }
  }
}