#estimation-form-page {

  .global-estimate-total-row {
    .estimate-title,
    .estimate-total,
    .estimate-raw-total {
      @include row-push(1);
    }

    h1 {
      @include row-cell(8);
      padding-top: 0 !important;
      a {
        font-size: inherit;
      }
    }
    .estimate-title { @include row-cell(2); }
    .estimate-total { @include row-cell(1); }
    .estimate-raw-total { @include row-cell(1); }
    .estimate-add-fields { @include row-cell(3); }

    .estimate-total,
    .estimate-raw-total {
      text-align: right;
    }

    .estimate-raw-total {
      @include transition(opacity 200ms);
      opacity: 0;
      color: #9b9b9b;
    }
    .estimate-total:hover + .estimate-raw-total {
      opacity: 1;
    }

    .estimate-add-fields {
      @include row-push(1);
      text-align: center;
      a {
        @include vertical-gradient(lighten($danger-color, 20%), $danger-color);
        border: 1px solid darken($danger-color, 30%);
        text-decoration: none;
        font-size: 16px;
        color: white;
        background-color: $danger-color;
        border-radius: $button-border-radius;
        padding: 0.1em 0.5em;
        &:hover {
          @include vertical-gradient(lighten($danger-color, 30%), $danger-color);
        }
        &:active {
          @include vertical-gradient($danger-color, lighten($danger-color, 20%));
        }
      }
    }
  }

  #estimation-form {
    .group-name {
      border-bottom: 3px double #9b9b9b;
    }

    .estimate-total-row {
      border-top: 1px dashed #9b9b9b;
    }

    header {
      h2 {
        @include row-cell(12);
        &:before {
          content: '\00BB';
          margin-right: 0.25em;
        }
      }
      h3 {
        font-weight: bold;
        &.estimate-type-header {
          @include row-cell(7);
        }
        &.estimate-note-header {
          @include row-cell(5);
        }
      }
    }

    .estimate-item-row,
    .estimate-total-row {
      .estimate-title,
      .estimate-score,
      .estimate-note {
        padding: { top: 0.5em; bottom: 0.5em; }
      }
      .estimate-title  { @include row-cell(3); }
      .estimate-score {
        @include row-cell(1);
        text-align: right;
      }
      .estimate-effort { @include row-cell(3); }
      .estimate-note   { @include row-cell(5); }
    }

    .estimate-total-row .estimate-effort {
      padding: { top: 0.5em; bottom: 0.5em; }
    }

    .estimate-item-row {
      &:nth-child(2n+1) {
        background-color: #ebebeb;
      }
    }

    .estimate-total-row {
      margin-top: 0.25em;
      .estimate-score {
        @include row-push(3);
      }
    }
  }
}