header#logged-out {
  h1 {
    @include row-cell(4);
    font-family: aspire;
    font-size: 80px;
    padding-top: 0;
  }
}

#login-page {
  background-color: $brand-color;
  width: 100%;
  padding: {
    top: 0.5em;
    bottom: 1em;
  }

  #login-form {
    label { color: white; }
    label, input, button {
      @include row-push(4);
    }

    .action button {
      @include row-cell(4);
    }
  } 
}