#login-page {
  padding: {
    top: 2em;
    bottom: 2em;
  }
  width: 100%;

  background-color: #ebebeb;

  #login-form {
    label, input {
      @include row-push(1);
    }
    button {
      @include row-push(4);
    }
  } 
}