header#logged-out {
  h1 {
    @include row-cell(12);
  }
}

#login-page {
  background-color: #ebebeb;
  width: 100%;
  padding: {
    top: 1.5em;
    bottom: 2em;
  }

  #login-form {
    label, input, button {
      @include row-push(4);
    }

    .action button {
      @include row-cell(4);
    }
  } 
}