* {
  font: 24px open-sans, helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent; }

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font: 24px open-sans, helvetica, sans-serif; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block; }

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden; }

body {
  min-width: 960px; }

.row {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  .row:before, .row:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }
  .row:after {
    clear: both; }

.row-cell {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px; }

form input:not([type]),
form input[type='text'],
form input[type='password'] {
  box-sizing: border-box;
  border: 1px solid #434443;
  border-radius: 4px;
  padding-left: 0.25em;
  padding-right: 0.25em; }
form button {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#eeeeee, #bbbbbb);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#eeeeee, #bbbbbb);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#eeeeee, #bbbbbb);
  /* Standard syntax */
  background: linear-gradient(#eeeeee, #bbbbbb);
  outline: none;
  border: 1px solid #888888;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5; }
  form button:hover {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(white, #bbbbbb);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(white, #bbbbbb);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(white, #bbbbbb);
    /* Standard syntax */
    background: linear-gradient(white, #bbbbbb); }
  form button:active {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#bbbbbb, #eeeeee);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#bbbbbb, #eeeeee);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#bbbbbb, #eeeeee);
    /* Standard syntax */
    background: linear-gradient(#bbbbbb, #eeeeee); }
  form button:disabled {
    background: #eeeeee;
    cursor: default;
    border-color: #bbbbbb; }
form fieldset {
  margin-top: 0.5em; }
  form fieldset:first-child {
    margin-top: 0; }
  form fieldset label {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    line-height: 1.75em; }
  form fieldset input:not([type]),
  form fieldset input[type='text'],
  form fieldset input[type='password'] {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }
form .action input, form .action button, form .action a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px; }
form .action a {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px; }

body {
  margin-top: 75px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 0.75em;
  padding-bottom: 0.25em; }

a {
  color: #0099cd;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: #ec4134; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  .container:before, .container:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }
  .container:after {
    clear: both; }

header#logged-in {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: #1788c3; }
  header#logged-in nav {
    margin: auto; }
    header#logged-in nav a {
      text-decoration: none;
      color: white; }
    header#logged-in nav .user-name,
    header#logged-in nav .log-out,
    header#logged-in nav .jump-label {
      padding-top: 0.75em;
      text-align: right;
      font-size: 16px;
      color: white; }
    header#logged-in nav .logo {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 140px;
      line-height: 50px;
      font-family: aspire;
      font-size: 40px;
      background-color: #1788c3;
      text-align: left; }
    header#logged-in nav .jump-input {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      position: relative;
      left: 160px;
      margin-top: 0.25em; }
    header#logged-in nav .jump-button {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 60px;
      position: relative;
      left: 160px;
      margin-top: 0.25em; }
    header#logged-in nav .user-name {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      position: relative;
      left: 160px; }
    header#logged-in nav .log-out {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 60px;
      position: relative;
      left: 160px; }
  header#logged-in #logout {
    margin-left: 0.5em; }

ul.input-autocomplete {
  -webkit-transition: opacity 200ms;
  /* Safari and Chrome */
  -moz-transition: opacity 200ms;
  /* Firefox */
  -ms-transition: opacity 200ms;
  /* Internet Explorer */
  -o-transition: opacity 200ms;
  /* Opera */
  transition: opacity 200ms;
  border: 1px solid black;
  position: absolute;
  background-color: white;
  z-index: 100; }
  ul.input-autocomplete.active {
    top: auto;
    opacity: 1; }
  ul.input-autocomplete, ul.input-autocomplete.empty {
    display: block;
    top: -10000px;
    opacity: 0; }
  ul.input-autocomplete li {
    cursor: pointer;
    line-height: 1.5em;
    padding-left: 0.25em;
    padding-right: 0.25em; }
    ul.input-autocomplete li.highlighted {
      background-color: #1788c3;
      color: white; }
    ul.input-autocomplete li.filtered {
      display: none; }

/* Effort rating component */
.effort-rating button {
  width: 1.75em;
  height: 1.75em;
  margin: 0.125em 0.25em 0.125em 0;
  background: none !important;
  padding: 0;
  border: none;
  outline: none; }
  .effort-rating button.effort-clear span {
    width: 1em;
    height: 1em;
    display: block;
    margin: auto;
    position: relative;
    top: -0.25em; }
    .effort-rating button.effort-clear span:before {
      font-family: fontello;
      content: '\e802'; }
  .effort-rating button.effort-clear:hover span {
    color: #ec4134; }
  .effort-rating button.effort-bubble {
    font-family: fontello; }
    .effort-rating button.effort-bubble span {
      /* For Safari 5.1 to 6.0 */
      background: -webkit-linear-gradient(#eeeeee, #bbbbbb);
      /* For Opera 11.1 to 12.0 */
      background: -o-linear-gradient(#eeeeee, #bbbbbb);
      /* For Firefox 3.6 to 15 */
      background: -moz-linear-gradient(#eeeeee, #bbbbbb);
      /* Standard syntax */
      background: linear-gradient(#eeeeee, #bbbbbb);
      border: 1px solid #888888;
      border-radius: 4px;
      width: 1em;
      height: 1em;
      display: block;
      margin: auto; }
    .effort-rating button.effort-bubble:hover span {
      /* For Safari 5.1 to 6.0 */
      background: -webkit-linear-gradient(white, #bbbbbb);
      /* For Opera 11.1 to 12.0 */
      background: -o-linear-gradient(white, #bbbbbb);
      /* For Firefox 3.6 to 15 */
      background: -moz-linear-gradient(white, #bbbbbb);
      /* Standard syntax */
      background: linear-gradient(white, #bbbbbb); }
    .effort-rating button.effort-bubble:active span {
      /* For Safari 5.1 to 6.0 */
      background: -webkit-linear-gradient(#bbbbbb, #eeeeee);
      /* For Opera 11.1 to 12.0 */
      background: -o-linear-gradient(#bbbbbb, #eeeeee);
      /* For Firefox 3.6 to 15 */
      background: -moz-linear-gradient(#bbbbbb, #eeeeee);
      /* Standard syntax */
      background: linear-gradient(#bbbbbb, #eeeeee); }
.effort-rating.rating-1 button.active {
  font-family: fontello; }
  .effort-rating.rating-1 button.active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#34ccff, #0099cd);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#34ccff, #0099cd);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#34ccff, #0099cd);
    /* Standard syntax */
    background: linear-gradient(#34ccff, #0099cd);
    border: 1px solid #004d67;
    border-radius: 4px;
    width: 1em;
    height: 1em;
    display: block;
    margin: auto; }
  .effort-rating.rating-1 button.active:hover span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#67d8ff, #0099cd);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#67d8ff, #0099cd);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#67d8ff, #0099cd);
    /* Standard syntax */
    background: linear-gradient(#67d8ff, #0099cd); }
  .effort-rating.rating-1 button.active:active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#0099cd, #34ccff);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#0099cd, #34ccff);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#0099cd, #34ccff);
    /* Standard syntax */
    background: linear-gradient(#0099cd, #34ccff); }
.effort-rating.rating-2 button.active {
  font-family: fontello; }
  .effort-rating.rating-2 button.active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#ffc062, #fb9600);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#ffc062, #fb9600);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#ffc062, #fb9600);
    /* Standard syntax */
    background: linear-gradient(#ffc062, #fb9600);
    border: 1px solid #955900;
    border-radius: 4px;
    width: 1em;
    height: 1em;
    display: block;
    margin: auto; }
  .effort-rating.rating-2 button.active:hover span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#ffd495, #fb9600);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#ffd495, #fb9600);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#ffd495, #fb9600);
    /* Standard syntax */
    background: linear-gradient(#ffd495, #fb9600); }
  .effort-rating.rating-2 button.active:active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#fb9600, #ffc062);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#fb9600, #ffc062);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#fb9600, #ffc062);
    /* Standard syntax */
    background: linear-gradient(#fb9600, #ffc062); }
.effort-rating.rating-3 button.active {
  font-family: fontello; }
  .effort-rating.rating-3 button.active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#f59891, #ec4134);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#f59891, #ec4134);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#f59891, #ec4134);
    /* Standard syntax */
    background: linear-gradient(#f59891, #ec4134);
    border: 1px solid #aa1b10;
    border-radius: 4px;
    width: 1em;
    height: 1em;
    display: block;
    margin: auto; }
  .effort-rating.rating-3 button.active:hover span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#f9c4c0, #ec4134);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#f9c4c0, #ec4134);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#f9c4c0, #ec4134);
    /* Standard syntax */
    background: linear-gradient(#f9c4c0, #ec4134); }
  .effort-rating.rating-3 button.active:active span {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#ec4134, #f59891);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#ec4134, #f59891);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#ec4134, #f59891);
    /* Standard syntax */
    background: linear-gradient(#ec4134, #f59891); }

.effort-note textarea,
.effort-note div {
  line-height: 1.25;
  padding: 0;
  margin: 0;
  width: 100%; }

.effort-note div {
  white-space: pre-wrap; }

.effort-note textarea {
  border: none;
  background-color: transparent;
  display: none;
  font-size: inherit;
  font-family: inherit;
  height: 3.75em; }

.effort-note.active textarea {
  display: block; }

.effort-note.active div {
  display: none; }

header#logged-out h1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  position: relative;
  left: 80px;
  font-family: aspire;
  font-size: 80px;
  padding-top: 0; }

#login-page {
  background-color: #1788c3;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 1em; }
  #login-page #login-form label {
    color: white; }
  #login-page #login-form label, #login-page #login-form input, #login-page #login-form button {
    position: relative;
    left: 320px; }
  #login-page #login-form .action button {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }

#card-list-page header h1 {
  text-align: center; }
#card-list-page #card-list-create-form {
  margin-bottom: 0.5em; }
  #card-list-page #card-list-create-form #card-number,
  #card-list-page #card-list-create-form label[for="card-number"] {
    position: relative;
    left: 240px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }
  #card-list-page #card-list-create-form .action button {
    position: relative;
    left: 240px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px; }
  #card-list-page #card-list-create-form .action a {
    position: relative;
    left: 240px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px; }
#card-list-page #tip {
  -webkit-transition: opacity 200ms;
  /* Safari and Chrome */
  -moz-transition: opacity 200ms;
  /* Firefox */
  -ms-transition: opacity 200ms;
  /* Internet Explorer */
  -o-transition: opacity 200ms;
  /* Opera */
  transition: opacity 200ms;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  position: relative;
  left: 240px;
  opacity: 0;
  font-size: 16px;
  background-color: #1788c3;
  color: white;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 2px; }
  #card-list-page #tip.active {
    opacity: 1; }
  #card-list-page #tip .keyboard {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#f7f7f7, #dddddd);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#f7f7f7, #dddddd);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#f7f7f7, #dddddd);
    /* Standard syntax */
    background: linear-gradient(#f7f7f7, #dddddd);
    color: black;
    border: 1px solid #a2a2a2;
    border-radius: 4px;
    cursor: default;
    font-family: courier;
    font-size: 0.75em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    position: relative;
    bottom: 0.1em; }
  #card-list-page #tip:before {
    font-size: 16px;
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border: 0.5em solid #1788c3;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-top: -1.5em; }

#estimation-form-page .global-estimate-total-row .estimate-title,
#estimation-form-page .global-estimate-total-row .estimate-total,
#estimation-form-page .global-estimate-total-row .estimate-raw-total {
  position: relative;
  left: 80px; }
#estimation-form-page .global-estimate-total-row h1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
  padding-top: 0 !important; }
  #estimation-form-page .global-estimate-total-row h1 a {
    font-size: inherit; }
#estimation-form-page .global-estimate-total-row .estimate-title {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px; }
#estimation-form-page .global-estimate-total-row .estimate-total {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px; }
#estimation-form-page .global-estimate-total-row .estimate-raw-total {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px; }
#estimation-form-page .global-estimate-total-row .estimate-add-fields {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px; }
#estimation-form-page .global-estimate-total-row .estimate-total,
#estimation-form-page .global-estimate-total-row .estimate-raw-total {
  text-align: right; }
#estimation-form-page .global-estimate-total-row .estimate-raw-total {
  -webkit-transition: opacity 200ms;
  /* Safari and Chrome */
  -moz-transition: opacity 200ms;
  /* Firefox */
  -ms-transition: opacity 200ms;
  /* Internet Explorer */
  -o-transition: opacity 200ms;
  /* Opera */
  transition: opacity 200ms;
  opacity: 0;
  color: #9b9b9b; }
#estimation-form-page .global-estimate-total-row .estimate-total:hover + .estimate-raw-total {
  opacity: 1; }
#estimation-form-page .global-estimate-total-row .estimate-add-fields {
  position: relative;
  left: 80px;
  text-align: center; }
  #estimation-form-page .global-estimate-total-row .estimate-add-fields a {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#f59891, #ec4134);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#f59891, #ec4134);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#f59891, #ec4134);
    /* Standard syntax */
    background: linear-gradient(#f59891, #ec4134);
    border: 1px solid #7b130c;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #ec4134;
    border-radius: 4px;
    padding: 0.1em 0.5em; }
    #estimation-form-page .global-estimate-total-row .estimate-add-fields a:hover {
      /* For Safari 5.1 to 6.0 */
      background: -webkit-linear-gradient(#f9c4c0, #ec4134);
      /* For Opera 11.1 to 12.0 */
      background: -o-linear-gradient(#f9c4c0, #ec4134);
      /* For Firefox 3.6 to 15 */
      background: -moz-linear-gradient(#f9c4c0, #ec4134);
      /* Standard syntax */
      background: linear-gradient(#f9c4c0, #ec4134); }
    #estimation-form-page .global-estimate-total-row .estimate-add-fields a:active {
      /* For Safari 5.1 to 6.0 */
      background: -webkit-linear-gradient(#ec4134, #f59891);
      /* For Opera 11.1 to 12.0 */
      background: -o-linear-gradient(#ec4134, #f59891);
      /* For Firefox 3.6 to 15 */
      background: -moz-linear-gradient(#ec4134, #f59891);
      /* Standard syntax */
      background: linear-gradient(#ec4134, #f59891); }
#estimation-form-page #estimation-form .group-name {
  border-bottom: 3px double #9b9b9b; }
#estimation-form-page #estimation-form .estimate-total-row {
  border-top: 1px dashed #9b9b9b; }
#estimation-form-page #estimation-form header h2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px; }
  #estimation-form-page #estimation-form header h2:before {
    content: '\00BB';
    margin-right: 0.25em; }
#estimation-form-page #estimation-form header h3 {
  font-weight: bold; }
  #estimation-form-page #estimation-form header h3.estimate-type-header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 540px; }
  #estimation-form-page #estimation-form header h3.estimate-note-header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-title,
#estimation-form-page #estimation-form .estimate-item-row .estimate-score,
#estimation-form-page #estimation-form .estimate-item-row .estimate-note,
#estimation-form-page #estimation-form .estimate-total-row .estimate-title,
#estimation-form-page #estimation-form .estimate-total-row .estimate-score,
#estimation-form-page #estimation-form .estimate-total-row .estimate-note {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-title,
#estimation-form-page #estimation-form .estimate-total-row .estimate-title {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-score,
#estimation-form-page #estimation-form .estimate-total-row .estimate-score {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  text-align: right; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-effort,
#estimation-form-page #estimation-form .estimate-total-row .estimate-effort {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-note,
#estimation-form-page #estimation-form .estimate-total-row .estimate-note {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px; }
#estimation-form-page #estimation-form .estimate-total-row .estimate-effort {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
#estimation-form-page #estimation-form .estimate-item-row:nth-child(2n+1) {
  background-color: #ebebeb; }
#estimation-form-page #estimation-form .estimate-item-row .estimate-effort {
  padding-top: 0.2em; }
#estimation-form-page #estimation-form .estimate-total-row {
  margin-top: 0.25em; }
  #estimation-form-page #estimation-form .estimate-total-row .estimate-score {
    position: relative;
    left: 240px; }

body.grid {
  background: url("../image/960-60-10.png") top center repeat-y; }
