/* Font */
body {
  font-size: 16px;
  font-family: open-sans, helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
}

a {
  color: rgb(0, 153, 205);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(236, 65, 52);
}

/* General */

.align-right { text-align: right; }

.bold { font-weight: bold; }

.vpad-h1 {
  padding-top: 2.25em;
  padding-bottom: 0.75em;
}
.vpad-h2 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.vpad-h3 {
  padding-top: 0.9375em;
  padding-bottom: 0.3125em;
}

/* Form */

.basic-form .container_12 {
  padding-bottom: 1em;
}

.basic-form input,
.basic-form button,
.basic-form textarea {
  font-size: inherit;
  padding: 0.25em 0.5em;
  margin: 0;
  box-sizing: border-box;
}

.basic-form input:not([type]),
.basic-form input[type='text'] {
  border: 1px solid #434443;
  width: 100%;
}

.basic-form .action button {

}

.basic-form .action a {
  display: inline-block;
  padding: 0.25em 0.5em;
  line-height: 1.5;
}

/* Input width */

.basic-form .grid_1 input:not([type]),
.basic-form .grid_1 input[type='text']
{ width: 50px; }

.basic-form .grid_2 input:not([type]),
.basic-form .grid_2 input[type='text']
{ width: 110px; }

/*.basic-form .grid_3 input:not([type]),
.basic-form .grid_3 input[type='text']
{ width: 170px; }*/

.basic-form .grid_4 input:not([type]),
.basic-form .grid_4 input[type='text']
{ width: 230px; }

.basic-form .grid_5 input:not([type]),
.basic-form .grid_5 input[type='text']
{ width: 290px; }

.basic-form .grid_6 input:not([type]),
.basic-form .grid_6 input[type='text']
{ width: 350px; }

.basic-form .grid_7 input:not([type]),
.basic-form .grid_7 input[type='text']
{ width: 410px; }

.basic-form .grid_8 input:not([type]),
.basic-form .grid_8 input[type='text']
{ width: 470px; }

.basic-form .grid_9 input:not([type]),
.basic-form .grid_9 input[type='text']
{ width: 530px; }

.basic-form .grid_10 input:not([type]),
.basic-form .grid_10 input[type='text']
{ width: 590px; }

.basic-form .grid_11 input:not([type]),
.basic-form .grid_11 input[type='text']
{ width: 650px; }

.basic-form .grid_12 input:not([type]),
.basic-form .grid_12 input[type='text']
{ width: 710px; }

/* user-header */
.header {
  padding-top: 2em;
}

#user-header a {
  margin-left: 1em;
  color: rgb(236, 65, 52);
}

/* Effort note */

.effort-note textarea,
.effort-note div {
  line-height: 1.25;
  padding: 0;
  margin: 0;
  width: 100%;
}

.effort-note div {
  white-space: pre-wrap;
}

.effort-note textarea {
  border: none;
  background-color: transparent;
  display: none;
  font-size: inherit;
  font-family: inherit;
  height: 3.75em;
}

.effort-note.active textarea {
  display: block;
}

.effort-note.active div {
  display: none;
}

/* Log in */

#login-form {
  margin-top: 5em;
  background-color: rgb(239, 239, 239);
}

/* Estimation form */

#estimation-form {
  margin-bottom: 20em;
}

#estimation-form .estimation-totals {
  font-size: 1em;
}

#estimation-form .total-row {
  margin-bottom: 2em;
}

#estimation-form .item-row-container .item-row {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

#estimation-form .item-row-container .item-row:nth-child(2n+1) {
  background-color: rgb(225, 225, 225);
}

#estimation-form .total-row [class*='grid_'] {
  border-top: 1px solid black;
  padding-top: 0.5em;
  margin-top: 0.5em;
}